.contact-container {
    max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 0 3rem;
  position: relative;

  /* background: linear-gradient(to bottom, #040303,#756257a4); */
}
.form-header{
    margin-top: 8rem;
    max-width: 720px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;   
}
.contanct-title{
    margin-bottom: 1.5rem;
}
.form-container {
    margin-top: 5rem;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 5rem;
}
.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.form-input {
  width: 100%;
  border: 1px solid var(--dark-gray);
  height: 5.5rem;
  border-radius: 0.64rem;
  padding-left: 1.6rem;
  background-color: inherit;
  color: White;
  font-size: 1.6rem;

}
label {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  color: White;
}
.text-area {
  background-color: inherit;
  border: 1px solid var(--dark-gray);
  border-radius: 0.64rem;
  color: white;
  padding: 1.6rem;
  font-size: 1.6rem;
}
input::placeholder {
  font-size: 1.8rem;
  color: rgba(211, 211, 211, 0.636);
}
.form-btn-field{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.submit-btn {
    max-width: 130px;
  width: 100%;
  padding: 0 1rem;
  background: var(--color-bg);
  color: white;
  height: 4.5rem;
  border-radius: 1.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  gap: .5rem;
}

.error-message {
  color: var(--red);
  margin-top: 1rem;
}
.error-border {
  border-color: var(--red);
}
.form-input:focus {
  outline: none;
  border-color: var(--light-blue);
  caret-color: var(--very-light-green);
}
.form-input:hover {
  cursor: pointer;
  border-color: var(--very-light-green);
}

.text-area:focus {
  outline: none;
  border-color: var(--light-blue);
  caret-color: var(--very-light-green);
}
.text-area:hover {
  cursor: pointer;
  border-color: var(--very-light-green);
}
/* ....MODAL STYLES........................................... */
.modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1e1d93;
    z-index: 100;
    backdrop-filter: blur(2px);

}
.modal-container{
  min-height: 280px;
  max-width: 380px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 3rem;
  background: var(--dark-bg);
  position: relative;
  border-radius: 2.4rem;
  text-align: center;

}
.check-wrapper{
  position: absolute;
  width: 6rem;
  height: 6rem;
  top: -3rem;
  border-radius: 50%;
  background: var(--color-bg);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-title{
  font-size: clamp(1.8rem,8vw,2.8rem);
  margin: 3.5rem 0 1.5rem 0;
}
.modal-link{
  margin-top: 2.5rem;
  width: 80%;
  background: var(--color-bg);
  border-radius: 1.2rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
