.favorites-wrapper {
  margin-top: 8rem;
  max-width: 1470px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 3rem;
  justify-content: space-between;
  gap: 4rem;
  /* background-color: #0097b2; */
}
.favorites-header {
    max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--dark-bg);
  background-size: cover;
  padding: 4rem 3rem;
  border-radius: 1.2rem;
  min-height: fit-content;
  gap: 2rem;
}
.favorites-parag {
    width: 90%;
}
.profile-img {
  border-radius: 50%;
  width: 50%;
  height: auto;
  padding: 1rem;
}
.dots-wrapper.fav {
  top: 2rem;
  right: 3rem;
  position: absolute;
}
.hearts-wrapper {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  display: flex;
  gap: 1rem;
}
.heart-icon {
  color: var(--light-gray);
  opacity: 0.4;
}
/* .....FAVORITE ITEMS STYLES................... */
.favorite-items-wrapper {
  width: fit-content;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.favorite-item-card {
  background: var(--dark-bg);
  padding: 4rem 3rem 4rem 3rem;
  border-radius: 8rem 1.2rem 8rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #0097b2;
  place-items: right;
  box-shadow: 0 3rem 2rem -1rem #0097b20d;

  
}
.favorite-item-title {
  font-size: 1.6rem;
  font-weight: 800;
  text-align: center;
  line-height: 1.25;
}
.favorite-labels {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
.favorite-item {
  background: var(--color-bg);
  padding: 0.5rem 1rem;
  border-radius: 0.64rem;
  color: white;
}
.favorite-image-wrapper {
  background: var(--color-bg);
  padding: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}
.favorite-img {
  width: 180px;
  height: auto;
  border-radius: 1.2rem;
  box-shadow: 0 3rem 2rem -1rem var(--very-dark-brown);
}
.favorite-link-delete-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5rem;
  border: 1px solid #0097b2;
  height: 4.5rem;
  padding: 0 1rem;
  border-radius: 2.8rem;
}
.delete-btn {
  color: white;
}
.empty-favorties{
    display: flex;
    flex-direction: column;
    align-items: center;
align-self: center;
gap: 1.5rem;
text-align: center;
}
.empty-title{
    font-size: clamp(2rem,8vw,4rem);
}
.empty-img{
    width: 80%;
    height: auto;
}
