.profile-container {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.profile-wrapper {
  margin-top: 8rem;
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
}
.profile-aside-wrapper {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 1.5rem;
  min-height: fit-content;
  background: var(--dark-bg);
  background: linear-gradient(to bottom, #363636, #1e1e1e, #363636);

}
.profile-details {
  padding: 6rem 2rem;
  border-radius: 1rem 1rem 2rem 2rem;
  width: 100%;
  background: var(--dark-gray);

}
.profile-title {
  font-size: clamp(2rem, 8vw, 3.5rem);
  margin-top: 3.5rem;
}
.favorites-parag {
  margin-top: 0.6rem;
}
.profile-img {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  border: 2px solid white;
}
.dots-wrapper.fav {
  top: 2rem;
  right: 3rem;
  position: absolute;
}
/* NAVIGATION STYLES............... */
.aside-navigation-wrapper {
  width: 100%;
  position: relative;
}
.inputs-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 4rem 2rem;
}
.navigation-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: #363636 1px solid;
  height: 4.5rem;
  max-width: 200px;
  width: 100%;
  border-radius: 1.2rem;
  color: var(--light-gray);
  padding: 0 2rem;
  cursor: pointer;
  transition: .25s ease-in-out;
}
input[type="radio"]{
appearance: none;
}
.selected{
  background: var(--color-bg);
  transition: .25s ease-in-out;
color: white;
}
.hearts-wrapper {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  display: flex;
  gap: 1rem;
}
.heart-icon {
  color: var(--light-gray);
  opacity: 0.4;
}
/* .....FAVORITE ITEMS STYLES................... */
.favorite-items-wrapper {
  width: 100%;
  display: flex;
  gap: 3rem;
  justify-items: end;
  flex-direction: column;
  align-items: center;
}

.favorite-item-card {
  width: 100%;
  background: linear-gradient(to bottom, #1e1e1e, #363636);
  padding: 4rem 3rem 4rem 3rem;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--dark-gray);
  gap: 3rem;
  position: relative;

}
.favorite-image-details{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.favorite-img {
  max-width: 100px;
  width: 100%;
  min-width: 50px;
  height: auto;
  border-radius: 1.2rem;
}
.favorite-item-title {
  font-size: 1.6rem;
  font-weight: 800;
  text-align: center;
  line-height: 1.25;
}
.favorite-labels {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
.favorite-item {
  border: 1px solid var(--dark-gray);
  padding: 0.5rem 1rem;
  border-radius: 0.64rem;
  color: var(--light-gray);
}

.favorite-link-delete-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
.fav-link,.delete-btn{
  gap: .5rem;
  height: 4.5rem;
  padding: 0 1.5rem;
  border-radius: 1.2rem;
  max-width: 150px;
  width: 100%;
  background: var(--color-bg);
}
.fav-link{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.delete-btn {
  color: white;
}
/* EMPTY SAVED ITEMS TAB STYLES........ */

.empty-favorite-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}
.empty-card {
  gap: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--dark-bg);
  padding: 4rem;
  border-radius: 1.2rem;
}
.empty-title {
  font-size: clamp(2rem, 8vw, 3rem);
}
.empty-img {
  max-width: 200px;
  width: 100%;
  height: auto;
}
.empty-cta {
  height: 4.5rem;
  background: var(--color-bg);
  border-radius: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 2.5rem;
  margin-top: 4rem;
}
.custom-meals {
 
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 3rem;
  border-radius: 1.2rem;
  background: var(--dark-bg);
  gap: 2rem;
  align-self: center;
}
.custom-text {
  max-width: 700px;
  display: flex;
  flex-direction: column;
}
.custom-parag {
  margin-top: 1.5rem;
}
.custom-title {
  font-size: clamp(2rem, 8vw, 3rem);
}
.custom-subtitle {
  font-size: clamp(2rem, 8vw, 3rem);
  text-transform: uppercase;
  letter-spacing: 0.04rem;
}
.custom-image-wrapper {
  background: var(--dark-bg);
  border-radius: 50%;
  border: 1px dashed var(--very-light-green);
}
.custom-img {
  width: 150px;
  height: auto;
  padding: 2rem;
}
