.meals-wrapper {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.meal-card {
  background: var(--dark-bg);
  padding: 4rem 2rem 4rem 2rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 100%;
  background: linear-gradient(to bottom, #1E1E1E,#363636);

}
.meals-image-wrapper {
  background: var(--color-bg);
  padding: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}
.meals-img {
  width: 150px;
  height: auto;
  border-radius: 1.2rem;
  box-shadow: 0 3rem 2rem -1rem var(--very-dark-brown);
}
.meal-title {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
  flex-wrap: wrap;
  text-align: center;
}
.meal-like-link-wrapper {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #0097b2;
  height: 4.5rem;
  padding: 0 1.5rem;
  border-radius: 2.8rem;
}
.meal-like-btn {
  color: var(--very-light-green);
}
.meal-link {
  border-radius: 2.8rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}
.page-num-wrapper{
  grid-column: span 3;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.page-num-btn{
  width: 4rem;
  height: 4rem;
  border-radius: 1.2rem;
  color: white;
}
.page-num-btn:not(.current){
  border: 1px solid var(--dark-gray);

}
.current{
  background: var(--color-bg);
}
.num-light:not(.current){
  border-color: var(--very-light-green);
}
.meal-card:hover{
  transform: scale(1.05);
  cursor: pointer;
  transition: .3s ease-in-out;
}
