.nav-wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  z-index: 10;
}
.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 4rem;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: clamp(1.8rem, 15vw, 3.5rem);
  color: white;
}

.links-wrapper {
  display: flex;
  align-items: center;
  gap: 4.5rem;
  height: 5.6rem;
  border-radius: 2.8rem;
  padding: 0 3.2rem;
  position: relative;
  border: 1px solid var(--dark-gray);
  margin-right: 4rem;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link {
  font-size: 1.6rem;
  font-weight: 200;
  width: fit-content;
  position: relative;
  color: white;
  padding: 1rem 1.5rem;
}
.active::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--color-bg);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2.8rem;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  color: white;
}

.nav-link:hover {
  font-weight: 500;
}
.logo-toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.toggle-btn {
  display: none;
  color: white;
}
.menu-icon {
  scale: 1.5;
}
.favorites-toggle-container {
  display: flex;
  gap: 4.5rem;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.favorites-image-wrapper {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: var(--dark-gray);
  border-radius: 50%;
  
}
.filled{
  background: var(--color-bg);
}
.chef-img {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--very-light-green);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  padding: 2px;
}
.favorites-num {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  color: white;
  font-size: 1.6rem;
  font-weight: 900;
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  top: -1rem;
  right: 0;
  background-color: var(--red);
  border-radius: 50%;
}
.favorites-image-wrapper:before {
  content: "Profile";
  position: absolute;
  top: 100%;
  margin-top: 0.6rem;
  color: rgba(255, 255, 255, 0.857);
  opacity: 0;
  font-size: 1.4rem;
}
.favorites-image-wrapper:hover::before {
  transition: 0.3s ease-in;
  opacity: 1;
}
.settings-btn {
  display: none;
    width: fit-content;
    height: fit-content;
    padding: 0.8rem;
    border: 1px solid var(--dark-gray);
    border-radius: .64rem;
    color: white;
    gap: .5rem;
}
.settings-icon {
  scale: 1.3;
}
.arrow-icon {
  color: var(--very-light-green);
}
/* Light Mode */
.links-wrapper.border-light{
  border: 1px solid var(--very-light-green1);
  background: var(--light-blue-bg);
  z-index: 1;
}
.settings-btn.border-light{
  
    border: 1px solid #edf8e9fd;
  
}
