@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
:root {
  --very-light-green: #6ba851;
  --light-blue: #0097b2;
  --light-gray: #d5d3d6;
  --dark-gray: #363636;
  --very-dark-brown: #1e1e1e;
  --color-bg: linear-gradient(to right, #0097b2bb, #7ed957c8);
  --dark-bg: linear-gradient(to right, #363636, #282727, #363636);
  --red: rgb(234, 92, 92);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
}
html {
  font-size: 10px;
}
body {
  width: 100%;
  overflow-x: hidden;
}
.dot {
  background: linear-gradient(to right, #7ed957, #0097b2);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline;
}
/* NAVBAR RESPONSIVENESS */
@media (width <=1140px) {
  .nav-container {
    align-items: center;
  }
  .logo {
    align-self: flex-start;
  }
  .favorites-toggle-container {
    flex-direction: column;
    position: absolute;
    top: 100%;
    margin-top: 3.5rem;
    border: none;
    background-color: var(--very-dark-brown);
    border: 1px solid var(--dark-gray);
    height: fit-content;
    padding: 4rem 2.2rem;
    max-width: 220px;
    width: 100%;
    border-radius: 1.2rem;
    align-items: center;
    right: 0;
    display: none;
  }
  .favorites-toggle-container.open {
    display: flex;
  }
  .settings-btn {
    display: flex;
  }
  .toggle-container {
    width: 100%;
  }
}
@media (width <=930px) {
  .toggle-btn {
    display: flex;
  }
  .links-wrapper {
    flex-direction: column;
    position: absolute;
    top: 100%;
    margin-top: 3.5rem;
    border: none;
    background-color: var(--very-dark-brown);
    border: 1px solid #4e4d4d;
    height: fit-content;
    padding: 2.2rem 1.5rem;
    max-width: 220px;
    width: 100%;
    border-radius: 1.2rem;
    align-items: flex-start;
    display: none;
  }
  .links-wrapper.open {
    display: flex;
  }
  .home-wrapper {
    background-image: url("./assets/images/mobile-home-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;


 
  } 
}
@media (width <=550px) {
  .logo {
    font-size: 1.8rem;
  }
}

/* RECIPES PAGE RESPONSIVE STYLES................ */
@media (width <=1340px) {
  .meals-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .search-btn {
    right: 0;
  }
}
@media (width <=1160px) {
  .categories-wrapper {
    grid-template-columns: 1fr;
  }
}
@media (width <=930px) {
  .meals-wrapper {
    grid-template-columns: 1fr;
  }
  .meal-card {
    max-width: 300px;
    width: 100%;
  }
 
}
@media (width <=675px) {
  .categories-meals-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .category-item {
    font-size: 1.1rem;
  }
  .category-img {
    width: 4rem;
    height: 4rem;
  }
  .categories-wrapper,
  .meals-wrapper {
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem;
  }
  .search-wrapper {
    max-width: 100%;
  }
}
@media (width <=560px) {
  .meals-wrapper {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .category-item {
    width: 100%;
    margin-left: 0;
  }
  
}

/* PROFILE PAGE STYLES........... */
@media (width <=870px) {
  .profile-wrapper {
    grid-template-columns: 1fr;
  }
  .profile-aside-wrapper {
    max-width: 100%;
  }
  .inputs-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .navigation-item {
    justify-content: center;
    padding: 0;
    font-size: 1.3rem;
    max-width: none;
  }
}
@media (width <=580px) {
  .favorite-item-card {
    flex-direction: column;
  }
  .favorite-link-delete-wrapper {
    width: 100%;
  }
  .fav-link,
  .delete-btn {
    max-width: 100%;
    width: 100%;
  }
  .favorite-labels {
    flex-direction: column;
  }
  .custom-meals {
    flex-direction: column;
    text-align: center;
  }
}
/* SINGLE MEAL PAGE STYLES........... */
@media (width <=1024px) {
  .instructions-ingridients-measures-wrapper {
    flex-direction: column-reverse;
  }

  .ingridients-measures-wrapper {
    flex-direction: row-reverse;
  }
}
@media (width <=780px) {
  .ingridients-measures-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .instructions-wrapper {
    width: 100%;
  }
  .meal-hero-wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 2rem;
    justify-content: center;
    padding: 3rem 0;
  }
  .meal-hero-text {
    padding-left: 3rem;
    margin-top: 4rem;
  }
  .meal-detailed-title {
    font-size: clamp(1.5rem, 10vw, 2.5rem);
  }
  .detailed-meal-image-wrapper {
    width: 100%;
  }
  .meal-img {
    height: auto;
    border-radius: 2rem;
    /* max-width: 400px; */
    width: 100%;

  }
  .overlay.meal,
  .dots-wrapper {
    border-radius: 0;
    display: none;
  }

  .like-btn {
    position: relative;
    left: 0;
    right: inherit;
    bottom: 0;
    display: flex;
    align-self: flex-end;
    padding-right: 3rem;
    margin-top: 1rem;
  }
  .meal-labels {
    flex-direction: column;
  }
}
